APP_ENV=local
DB_MODE=local
DB_LOCAL_HOST=localhost
DB_LOCAL_PORT=3306
DB_LOCAL_NAME=botora_admin
DB_LOCAL_USER=root
DB_LOCAL_PASS=
DB_AUTO_MIGRATE=true
BOTORA_API_URL=http://localhost:8008
APP_URL=http://localhost:8008
APP_DEBUG=true
BOTORA_ADMIN_EMAIL=admin@botora.local
BOTORA_ADMIN_PASSWORD=BotoraAdmin#2026